<div class="flip-clock">
    {{> item id="days" time="08" timeOffset="07" }}
    {{> item id="hours" time="23" timeOffset="22" }}
    {{> item id="minutes" time="55" timeOffset="54" }}
    {{> item id="seconds" time="41" timeOffset="40" }}
</div>