<div class="flip-clock">

    {{> item id="days" }}
    {{> item id="hours" }}
    {{> item id="minutes" }}
    {{> item id="seconds" }}
    {{!-- {{> countdown-item }} --}}
    {{!-- {{> countdown-item }} --}}

</div>