<div class="seconds">
    <div class="number">
        <div class="layer layer-top secondOffset">20</div>
        <div class="layer layer-bottom  secondCurrent">19</div>
        <div class="layer layer-flip">
            <div class="flip-top secondCurrent">19</div>
            <div class="flip-bottom  secondOffset">20</div>
        </div>
    </div>
</div>