<footer>
    <ul>
        <li><a href="#"><span class="sr-only">Facebook</span><img src="svg/icon-facebook.svg" alt="Facebook"></a></li>
        <li><a href="#"><span class="sr-only">Pinterest</span><img src="svg/icon-pinterest.svg" alt="Pinterest"></a>
        </li>
        <li><a href="#"><span class="sr-only">Instagram</span><img src="svg/icon-instagram.svg" alt="Instagram"></a>
        </li>
    </ul>
</footer>