<footer>
    <ul>
        <li><a href=""><img src="svg/icon-facebook.svg" alt=""></a></li>
        <li><a href=""><img src="svg/icon-pinterest.svg" alt=""></a></li>
        <li><a href=""><img src="svg/icon-instagram.svg" alt=""></a></li>
    </ul>
</footer>